@import url("https://fonts.googleapis.com/css?family=Devonshire&display=swap");
@media (max-width: 920px) {
  .brush-title img {
    width: 33vw !important;
  }

  .brush-title--2 img {
    width: 31vw !important;
  }

  .brush-title--3 img {
    width: 29vw !important;
  }

  img {
    top: 0.6vh !important;
  }
}
@media (max-width: 800px) {
  .brush-title img {
    width: 37vw !important;
  }

  .brush-title--2 img {
    width: 34vw !important;
  }

  .brush-title--3 img {
    width: 33vw !important;
  }

  img {
    top: 0.2vh !important;
  }
}
@media (max-width: 750px) {
  .brush-title img {
    width: 40vw !important;
  }

  .brush-title--2 img {
    width: 37vw !important;
  }

  .brush-title--3 img {
    width: 36vw !important;
  }
}
@media (max-width: 640px) {
  .brush-title img {
    width: 40vw !important;
  }

  .brush-title--2 img {
    width: 36vw !important;
  }

  .brush-title--3 img {
    width: 35vw !important;
  }

  img {
    top: 0vh !important;
  }
}
@media (min-width: 580px) and (max-width: 594px) {
  .brush-title img {
    width: 39vw !important;
  }
}
@media (max-width: 360px) {
  .brush-title img {
    width: 41vw !important;
  }

  .brush-title--2 img {
    width: 35vw !important;
  }

  .brush-title--3 img {
    width: 32vw !important;
  }
}
img {
  position: relative;
  top: 1vh;
  margin: auto;
  height: 1.5vw;
}

.brush-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: pr-title;
  text-align: center;
}
.brush-title img {
  width: 29.5vw;
}

.brush-title--2 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main-title;
  text-align: center;
}
.brush-title--2 img {
  width: 28vw;
}

.brush-title--3 {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: des-title;
  text-align: center;
}
.brush-title--3 img {
  width: 27vw;
}

/* ======================================== MEDIA QUERIES ======================================== */
/* ======================================== Ecrans de moins de 920px ======================================== */
@media (max-width: 920px) {
  .menu {
    width: 80% !important;
  }
}
/* ======================================== Ecrans de moins de 800px ======================================== */
@media (max-width: 800px) {
  .menu {
    width: 90% !important;
    font-size: 0.9rem !important;
  }
}
/* ======================================== Ecrans de moins de 750px ======================================== */
@media (max-width: 750px) {
  .menu {
    grid-auto-flow: column !important;
    font-size: 0.8rem !important;
    padding: 0rem 0.4rem !important;
    grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prix-prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main-prix ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des-prix ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }

  .end-title {
    display: none;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}
/* ======================================== Ecrans de moins de 580px ======================================== */
@media (max-width: 580px) {
  .menu {
    width: 95% !important;
  }
}
/* ======================================== Ecrans de moins de 475px ======================================== */
@media (max-width: 485px) {
  .menu {
    width: 98% !important;
    grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prix-prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main-prix ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des-prix ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}
/* ======================================== Ecrans de moins de 450px ======================================== */
@media (max-width: 450px) {
  body {
    margin: 0rem !important;
  }
}
/* ======================================== Alignement prix / plats ======================================== */
@media (min-width: 800px) and (max-width: 875px) {
  .des-prix {
    line-height: 2rem;
  }
}
@media (max-width: 551px) {
  .des-prix {
    line-height: 1.8rem;
  }
}
@media (max-width: 324px) {
  .des-prix {
    line-height: 2.05rem;
  }
}
@media (max-width: 435px) {
  .main-prix {
    line-height: 1.7rem;
  }
}
@media (max-width: 416px) {
  .prix-prelude {
    line-height: 1.7rem;
  }
}
@media (max-width: 392px) {
  .prix-prelude {
    line-height: 1.83rem;
  }
}
/* ======================================== FIN DES MEDIA QUERIES ======================================== */
@font-face {
  font-family: "typo_comics";
  src: url("../fonts/Typo_Comics/typo_comics_light_demo.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
.des-prix, .final, .des-title, .main-prix, .orgue, .main-title, .prix-prelude, .prelude, article h4 {
  font-family: "typo_comics", cursive;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 0rem;
}

.menu {
  display: grid;
  margin: auto;
  width: 70%;
  margin-bottom: 3rem;
  grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prix-prelude ." ". prelude prelude prelude prix-prelude ." ". prelude prelude prelude prix-prelude ." ". prelude prelude prelude prix-prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main-prix ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des-prix ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}

.legal {
  margin-left: 1rem;
}

.contact {
  margin-right: 1rem;
}

a :visited {
  color: #FFCA28;
  text-decoration: none;
}

h2 {
  color: #7E57C2;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  grid-area: h2;
}

.trait1 {
  display: none;
  grid-area: trait1;
  transform: scale(0.1);
}

article {
  background-color: #ffe2e2;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: h3;
  text-align: center;
  font-family: "Devonshire", cursive;
}

article h4 {
  text-align: center;
  font-weight: bold;
}

.prelude {
  -ms-grid-row: 9;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: prelude;
}

.prix-prelude {
  -ms-grid-row: 9;
  -ms-grid-row-span: 7;
  -ms-grid-column: 5;
  grid-area: prix-prelude;
  font-weight: bold;
  text-align: end;
}

.orgue {
  -ms-grid-row: 21;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.main-prix {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
  grid-area: main-prix;
  font-weight: bold;
  text-align: end;
}

.final {
  -ms-grid-row: 27;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: des;
}

.des-prix {
  -ms-grid-row: 27;
  -ms-grid-column: 5;
  grid-area: des-prix;
  font-weight: bold;
  text-align: end;
}

.end-title {
  -ms-grid-row: 31;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: end-title;
  text-align: center;
  font-family: "Devonshire", cursive;
}

@media (max-width: 750px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .prix-prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .main-prix {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .des-prix {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}

@media (max-width: 485px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .prix-prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .main-prix {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .des-prix {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}