/* ===================================== ANIMATION WIGGLE NAV =============================== */
@import url("https://fonts.googleapis.com/css?family=Courgette|Devonshire&display=swap");
.legal:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.index:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.contact:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* ============================= ANIMATION TROIS POINTS =========================== */
.dots {
  content: ".";
  animation: dots 1.2s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #FFCA28;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 #FFCA28;
  }
}
/* ========================= ANIMATION ZOOM SUR ITEMS MENU ====================== */
.zoom-wrapper {
  display: inline-block;
  overflow: hidden;
  transition: transform ease-in-out 0.1s;
}
.zoom-wrapper:hover {
  transition-duration: 1s;
  transform: scale(1.4);
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
}
.zoom-wrapper p:hover {
  opacity: 0.5;
}
.zoom-wrapper h3:hover {
  opacity: 0.5;
}
.zoom-wrapper i:hover {
  opacity: 0.5;
}

@media (max-width: 900px) {
  .zoom-wrapper:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  .gout .zoom-wrapper:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    overflow: hidden;
  }
}
/* ================================== ANIMATION SOULIGNEMENT =================================== */
.enchanted--underline:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  background: black;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
}

.enchanted--underline:hover:after {
  width: 100%;
  left: 0;
  opacity: 50%;
}

.french--underline:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
  background: linear-gradient(90deg, blue, white, red);
}

.french--underline:hover:after {
  width: 100%;
  left: 0;
}

.papilles--underline:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
  background: #7bd2f0;
}

.papilles--underline:hover:after {
  width: 100%;
  left: 0;
}

.gout--underline:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
  background: #30cc52;
}

.gout--underline:hover:after {
  width: 100%;
  left: 0;
}

/* ======================================== MEDIA QUERIES ======================================== */
/* ======================================== Ecrans de moins de 920px ======================================== */
@media (max-width: 920px) {
  .menu {
    width: 80% !important;
  }
}
/* ======================================== Ecrans de moins de 800px ======================================== */
@media (max-width: 800px) {
  .menu {
    width: 90% !important;
  }
}
/* ======================================== Ecrans de moins de 750px ======================================== */
@media (max-width: 750px) {
  .menu {
    grid-auto-flow: column !important;
    padding: 0rem 0.4rem !important;
    grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }
}
/* ======================================== Ecrans de moins de 580px ======================================== */
@media (max-width: 600px) {
  .menu {
    width: 95% !important;
  }

  .menu--info_price {
    flex-flow: column wrap !important;
  }
  .menu--info_price .prix {
    margin-bottom: 2rem;
  }
  .menu--info_price p {
    text-align: center !important;
    margin-top: 0rem;
    padding: 0rem 1rem;
    line-height: 1.2rem;
  }
}
/* ======================================== Ecrans de moins de 460px ======================================== */
@media (max-width: 460px) {
  .menu {
    width: 98% !important;
    grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }
}
/* ======================================== Ecrans de moins de 450px ======================================== */
@media (max-width: 450px) {
  body {
    margin: 0rem !important;
  }
}
/* ======================================== FIN DES MEDIA QUERIES ======================================== */
.des-title, .pr-title, .final, .orgue, .main-title, .prelude, article h4 {
  font-family: "Courgette", cursive;
  font-weight: lighter;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 0rem;
}

.menu {
  display: grid;
  margin: auto;
  width: 70%;
  margin-bottom: 3rem;
  grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}

.legal {
  margin-left: 1rem;
}

.contact {
  margin-right: 1rem;
}

a:visited {
  color: #FDCB46;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  grid-area: h2;
}

.fa-music:before {
  background: -webkit-linear-gradient(360deg, #e24a56, #eb944d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title--img {
  padding-top: 0.5rem;
}

article {
  background-color: #ffe2e2;
  box-shadow: 2px 2px 3px 4px #ccc;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: h3;
  text-align: center;
  font-family: "Devonshire", cursive;
}

article h4 {
  text-align: center;
  font-size: 1.3rem;
}

.prelude {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: prelude;
}

.menu--info_price {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex: 1 1 0;
}
.menu--info_price p {
  line-height: 1.2rem;
}

.prix {
  font-weight: bold;
  padding-left: 2rem;
}

.orgue {
  -ms-grid-row: 15;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.final {
  -ms-grid-row: 21;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: des;
}

.end-title {
  -ms-grid-row: 25;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: end-title;
  text-align: center;
  font-family: "Devonshire", cursive;
}

#end--img {
  margin-right: 1.5rem;
}

/* ================================= BRUSH STROKES ================================ */
img {
  margin: auto;
  height: 1vw;
}

.brush-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: pr-title;
}
.brush-title img {
  width: 29vw;
}

.pr-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

.brush-title--2 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main-title;
}
.brush-title--2 img {
  width: 26vw;
}

.main-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

.brush-title--3 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: des-title;
}
.brush-title--3 img {
  width: 25vw;
}

.des-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

@media (max-width: 750px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .pr-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .main-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .des-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}

@media (max-width: 460px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .pr-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .main-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .des-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}