@charset "UTF-8";
/* ======================================== MEDIA QUERIES ======================================== */
/* ======================================== Ecrans de moins de 920px ======================================== */
@import url("https://fonts.googleapis.com/css?family=Devonshire&display=swap");
@media (max-width: 920px) {
  .menu {
    width: 80% !important;
  }
}
/* ======================================== Ecrans de moins de 800px ======================================== */
@media (max-width: 800px) {
  .menu {
    width: 90% !important;
    font-size: 0.9rem !important;
  }

  img {
    top: 0.1vh !important;
  }

  .brush-title img {
    width: 37vw !important;
  }
  .brush-title--2 img {
    width: 35vw !important;
  }
  .brush-title--3 img {
    width: 34vw !important;
  }
}
/* ======================================== Ecrans de moins de 750px ======================================== */
@media (max-width: 750px) {
  .menu {
    grid-auto-flow: column !important;
    font-size: 0.8rem !important;
    padding: 0rem 0.4rem !important;
    grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }

  .end-title {
    display: none;
  }

  .prix {
    padding-left: 0rem !important;
  }
}
/* ======================================== Ecrans de moins de 580px ======================================== */
@media (max-width: 600px) {
  .menu {
    width: 95% !important;
  }

  .menu--organise {
    flex-flow: column nowrap !important;
    text-align: center !important;
    padding: 0rem 0.5rem;
    line-height: 1.2rem;
  }
  .menu--organise p {
    margin-bottom: 0rem;
    line-height: 1.2rem;
  }
  .menu--organise .prix {
    text-align: center !important;
    margin-top: 0rem;
    margin-bottom: 0.5rem !important;
  }
}
/* ======================================== Ecrans de moins de 475px ======================================== */
@media (max-width: 485px) {
  .menu {
    width: 98% !important;
    grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
  }
  .menu img {
    top: -0.2vh !important;
  }

  .brush-title--3 img {
    width: 33vw !important;
  }
}
/* ======================================== Ecrans de moins de 450px ======================================== */
@media (max-width: 450px) {
  body {
    margin: 0rem !important;
  }
}
/* ======================================== Organisation des traits ======================================== */
img {
  position: relative;
  top: 0.5vh;
  margin: auto;
  height: 1.5vw;
}

.brush-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: pr-title;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.brush-title img {
  width: 30.5vw;
}
.brush-title--2 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main-title;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.brush-title--2 img {
  width: 28vw;
}
.brush-title--3 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: des-title;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.brush-title--3 img {
  width: 27vw;
}

/* =================================== CSS Général ========================================= */
@font-face {
  font-family: "typo_comics";
  src: url("../fonts/Typo_Comics/typo_comics_light_demo.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
.final, .prix, .orgue, .prelude, .menu--title, article h4 {
  font-family: "typo_comics", cursive;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 0rem;
}

.menu {
  display: grid;
  margin: auto;
  width: 70%;
  margin-bottom: 3rem;
  grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}

.legal {
  margin-left: 1rem;
}

.contact {
  margin-right: 1rem;
}

a :visited {
  color: #FFCA28;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  grid-area: h2;
}

.trait1 {
  display: none;
  grid-area: trait1;
  transform: scale(0.1);
}

article {
  background-color: #ffe2e2;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: h3;
  text-align: center;
  font-family: "Devonshire", cursive;
}

article h4 {
  text-align: center;
  font-weight: bold;
}

.menu--organise {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.prelude {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: prelude;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.orgue {
  -ms-grid-row: 15;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
}

.prix {
  font-weight: bold;
  text-align: end;
  padding-left: 2rem;
}

.final {
  -ms-grid-row: 21;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: des;
  display: flex;
  flex-flow: column nowrap;
}

.end-title {
  -ms-grid-row: 25;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: end-title;
  text-align: center;
  font-family: "Devonshire", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 750px){
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}
.end-title i {
  padding: 0rem 3vw;
}