/* ======================================== MEDIA QUERIES ======================================== */
/* ======================================== Ecrans de moins de 920px ======================================== */
@import url("https://fonts.googleapis.com/css?family=Courgette|Croissant+One&display=swap");
@media (max-width: 920px) {
  .menu {
    width: 80% !important;
  }
}
/* ======================================== Ecrans de moins de 800px ======================================== */
@media (max-width: 800px) {
  .menu {
    width: 90% !important;
    font-size: 0.9rem !important;
  }
}
/* ======================================== Ecrans de moins de 750px ======================================== */
@media (max-width: 750px) {
  .menu {
    grid-auto-flow: column !important;
    padding: 0rem 0.4rem !important;
    grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }
}
/* ======================================== Ecrans de moins de 580px ======================================== */
@media (max-width: 580px) {
  .menu {
    width: 95% !important;
  }

  .menu--info_price {
    flex-flow: column wrap !important;
    flex: 1 1 0;
  }
  .menu--info_price p {
    text-align: center !important;
  }
}
/* ======================================== Ecrans de moins de 475px ======================================== */
@media (max-width: 485px) {
  .menu {
    width: 98% !important;
    grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
    grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
  }
}
/* ======================================== Ecrans de moins de 450px ======================================== */
@media (max-width: 450px) {
  body {
    margin: 0rem !important;
  }
}
/* ======================================== FIN DES MEDIA QUERIES ======================================== */
.final, .des-title, .orgue, .main-title, .prelude, .pr-title, article h4 {
  font-family: "Courgette", lighter;
}

h3 {
  font-weight: normal;
  font-size: 1.4rem;
  background: -webkit-linear-gradient(360deg, #cc6410, #a45be9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  display: grid;
  margin: auto;
  color: #cc6410;
  width: 70%;
  margin-bottom: 3rem;
  grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}

.legal {
  margin-left: 1rem;
}

.contact {
  margin-right: 1rem;
}

a :visited {
  color: #FFCA28;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  grid-area: h2;
}

article {
  background-color: #faf0fa;
  box-shadow: 2px 2px 3px 4px #ccc;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: h3;
  text-align: center;
  font-family: "Croissant One", cursive;
}

article h4 {
  text-align: center;
  font-weight: bold;
}

.pr-title {
  text-align: center;
  font-weight: bold;
}

.menu--info_price {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex: 1 1 0;
  line-height: 0.8rem;
}

.prelude {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: prelude;
}

.prix {
  font-weight: bold;
  padding-left: 1rem;
}

.main-title {
  font-weight: bold;
}

.orgue {
  -ms-grid-row: 15;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.des-title {
  font-weight: bold;
}

.final {
  -ms-grid-row: 21;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: des;
}

.end-title {
  -ms-grid-row: 25;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: end-title;
  text-align: center;
  font-family: "Croissant One", cursive;
}

/* ================================= BRUSH STROKES ================================ */
img {
  margin: auto;
  height: 0.5vw;
  border-radius: 5px;
}

.brush-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: pr-title;
}
.brush-title img {
  width: 27vw;
}

.pr-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

.brush-title--2 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main-title;
}
.brush-title--2 img {
  width: 28vw;
}

.main-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

.brush-title--3 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: des-title;
}
.brush-title--3 img {
  width: 30vw;
}

.des-title {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  display: flex;
  flex-grow: 1;
  grid-area: pr-title;
  align-content: center;
  font-weight: bold;
}

@media (max-width: 750px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .pr-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .main-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .des-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}

@media (max-width: 485px){
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .prelude {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .orgue {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .final {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  .end-title {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .pr-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .main-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .brush-title--3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .des-title {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}