
@media (max-width: 920px) {
    .brush-title img {
        width: 33vw !important;
    }
    .brush-title--2 img {
        width: 31vw !important;
    }
    .brush-title--3 img {
        width: 29vw !important;
    }
    img {
        top: 0.6vh !important;
    }
}


@media (max-width: 800px) {
    .brush-title img {
        width: 37vw !important;
    }
    .brush-title--2 img {
        width: 34vw !important;
    }
    .brush-title--3 img {
        width: 33vw !important;
    }
    img {
        top: 0.2vh !important;
    }
}

@media (max-width: 750px) {
    .brush-title img {
        width: 40vw !important;
    }
    .brush-title--2 img {
        width: 37vw !important;
    }
    .brush-title--3 img {
        width: 36vw !important;
    }
}

@media (max-width: 640px) {
    .brush-title img {
        width: 40vw !important;
    }
    .brush-title--2 img {
        width: 36vw !important;
    }
    .brush-title--3 img {
        width: 35vw !important;
    }
    img {
        top: 0vh !important;
    }
}



@media (min-width: 580px) and (max-width: 594px) {
    .brush-title img {
        width: 39vw !important;
    }
}


@media (max-width: 360px) {
    .brush-title img {
        width: 41vw !important;
    }
    .brush-title--2 img {
        width: 35vw !important;
    }
    .brush-title--3 img {
        width: 32vw !important;
    }
}


img {
    position: relative;
    top: 1vh;
    margin: auto;
    height: 1.5vw;
}

.brush-title
    {
        grid-area: pr-title;
        text-align: center;
        @extend %mainfont;
        img
    {
        width: 29.5vw;
    }
    }


.brush-title--2
    {
        grid-area: main-title;
        text-align: center;
        @extend %mainfont;
        img
    {
        width: 28vw;
    }
    }


.brush-title--3
    {
        grid-area: des-title;
        text-align: center;
        @extend %mainfont;
        img
    {
        width: 27vw;
    }
    }


