@import "../1_Variables/_variables.scss";
@import '../2_Mixins/_mixins.scss';
@import '../2.2_Animations/animations.scss';

/* ======================================== MEDIA QUERIES ======================================== */


/* ======================================== Ecrans de moins de 920px ======================================== */


@media (max-width: 920px) {
    .menu {
        width: 80% !important;
    }
}

/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .menu {
        width: 90% !important;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */



@media (max-width: 750px) {
    .menu {
        grid-auto-flow: column !important;
        padding: 0rem 0.4rem !important;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important; 
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}


/* ======================================== Ecrans de moins de 580px ======================================== */


@media (max-width: 600px) {
    .menu {
        width: 95% !important;
    }
    .menu--info_price {
        flex-flow: column wrap !important;
        .prix {
            margin-bottom: 2rem;
        }
        p {
            text-align: center !important;
            margin-top: 0rem;
            padding: 0rem 1rem;
            line-height: 1.2rem;
        }
    }
}

/* ======================================== Ecrans de moins de 460px ======================================== */


@media (max-width: 460px) {
    .menu {
        width: 98% !important;
        grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}



/* ======================================== Ecrans de moins de 450px ======================================== */


@media (max-width: 450px) {
    body {
        margin: 0rem !important;
    }
}


/* ======================================== FIN DES MEDIA QUERIES ======================================== */

@import url('https://fonts.googleapis.com/css?family=Courgette|Devonshire&display=swap');



%mainfont {
    font-family: 'Courgette', cursive;
    font-weight: lighter;
}

h3 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 0rem;
}

    .menu
        {
            display: grid;
            margin: auto;
            width: 70%;
            margin-bottom: 3rem;
            grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            grid-template-areas:
            '. . . . . .'
            '. h3 h3 h3 h3 .'
            '. . . . . .'
            'pr-title pr-title pr-title pr-title pr-title pr-title '
            '. prelude prelude prelude prelude .'
            '. . . . . .'
            'main-title main-title main-title main-title main-title main-title'
            '. main main main main .'
            '. . . . . .'
            'des-title des-title des-title des-title des-title des-title'
            '. des des des des .'
            '. . . . . .'
            '. end-title end-title end-title end-title .'
            '. . . . . .';
        }       


.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a:visited
    {
        color: $color-main;
        text-decoration: none;
    }

h2 
    {
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        grid-area: h2;
    }

.fa-music:before {
    background: -webkit-linear-gradient(360deg, rgb(226, 74, 86), rgb(235, 148, 77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

#title--img {
    padding-top: 0.5rem;
}

article
    {
        background-color: #ffe2e2;
        box-shadow: 2px 2px 3px 4px #ccc;
    }

.title
    {
        grid-area: h3;
        text-align: center;
        font-family: 'Devonshire', cursive;
    }

article h4
    {
        text-align: center;
        @extend %mainfont;
        font-size: 1.3rem;
    }

.prelude
    {
        grid-area: prelude;
        @extend %mainfont;
    }

.menu--info_price {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    flex: 1 1 0;
    p {
        line-height: 1.2rem;
    }
}

.prix {
    font-weight: bold;
    padding-left: 2rem;
}

.main-title
    {
        @extend %mainfont;
    }

.orgue
    {
        grid-area: main;
        @extend %mainfont;
    }

.final
    {
        grid-area: des;
        @extend %mainfont;
    }


.end-title
    {
        grid-area: end-title;
        text-align: center;
        font-family: 'Devonshire', cursive;
    }

#end--img {
    margin-right: 1.5rem;
}

/* ================================= BRUSH STROKES ================================ */


img {
    margin: auto;
    height: 1.5vw;
}

.brush-title
    {
        grid-area: pr-title;
        img
    {
        width: 29vw;
    }
    }

.pr-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}


.brush-title--2
    {
        grid-area: main-title;
        img
    {
        width: 26vw;
    }
    }

.main-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}


.brush-title--3
    {
        grid-area: des-title;
        img
    {
        width: 25vw;
    }
    }

.des-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}
