@import "../1_Variables/_variables.scss";
@import '../2_Mixins/_mixins.scss';

/* ======================================== MEDIA QUERIES ======================================== */


/* ======================================== Ecrans de moins de 920px ======================================== */


@media (max-width: 920px) {
    .menu {
        width: 80% !important;
    }
}

/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .menu {
        width: 90% !important;
        font-size: 0.9rem !important;
        }
        img {
            top: 0.1vh !important;
        }
    .brush-title {
       img {
            width: 37vw !important;
       }
       &--2 {
           img {
            width: 35vw !important;
           }
       }
       &--3 {
           img {
            width: 34vw !important;
           }
       }
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */



@media (max-width: 750px) {
    .menu {
        grid-auto-flow: column !important;
        font-size: 0.8rem !important;
        padding: 0rem 0.4rem !important;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important; 
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
    
    .end-title {
        display: none;
    }
    .prix {
        padding-left: 0rem !important;
    }
}


/* ======================================== Ecrans de moins de 580px ======================================== */


@media (max-width: 600px) {
    .menu {
        width: 95% !important;
    }
    .menu--organise {
        flex-flow: column nowrap !important;
        text-align: center !important;
        padding: 0rem 0.5rem;
        line-height: 1.2rem;
        p {
            margin-bottom: 0rem;
            line-height: 1.2rem;
        }
        .prix {
            text-align: center !important;
            margin-top: 0rem;
            margin-bottom: 0.5rem !important;
        }
    }
}

/* ======================================== Ecrans de moins de 475px ======================================== */


@media (max-width: 485px) {
    .menu {
        width: 98% !important;
        grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;

        img {
            top: -0.2vh !important;
        }
    }
    .brush-title--3 {
        img {
            width: 33vw !important;
        }
    }
}



/* ======================================== Ecrans de moins de 450px ======================================== */


@media (max-width: 450px) {
    body {
        margin: 0rem !important;
    }
}




/* ======================================== Organisation des traits ======================================== */

img {
    position: relative;
    top: 0.5vh;
    margin: auto;
    height: 1.5vw;
}

.brush-title
    {
        grid-area: pr-title;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        img
    {
        width: 30.5vw;
    }
    &--2
    {
        grid-area: main-title;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        img
    {
        width: 28vw;
    }
    }
    &--3
    {
        grid-area: des-title;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        img
    {
        width: 27vw;
    }
    }
}



    /* =================================== CSS Général ========================================= */




@import url('https://fonts.googleapis.com/css?family=Devonshire&display=swap');

@font-face {
font-family: 'typo_comics';
src: url('../fonts/Typo_Comics/typo_comics_light_demo.otf') format('otf');
font-weight: normal;
font-style: normal;
}

%mainfont {
    font-family: 'typo_comics', cursive;
}

h3 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 0rem;
}

    .menu
        {
            display: grid;
            margin: auto;
            width: 70%;
            margin-bottom: 3rem;
            grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            grid-template-areas:
            '. . . . . .'
            '. h3 h3 h3 h3 .'
            '. . . . . .'
            'pr-title pr-title pr-title pr-title pr-title pr-title '
            '. prelude prelude prelude prelude .'
            '. . . . . .'
            'main-title main-title main-title main-title main-title main-title'
            '. main main main main .'
            '. . . . . .'
            'des-title des-title des-title des-title des-title des-title'
            '. des des des des .'
            '. . . . . .'
            '. end-title end-title end-title end-title .'
            '. . . . . .';
        }       


.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: $color-main;
        text-decoration: none;
    }

h2 
    {
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        grid-area: h2;
    }

.trait1
    {
        display: none;
        grid-area: trait1;
        transform: scale(0.1);
    }

article
    {
        background-color: #ffe2e2;
    }

.title
    {
        grid-area: h3;
        text-align: center;
        font-family: 'Devonshire', cursive;
    }

article h4
    {
        text-align: center;
        font-weight: bold;
        @extend %mainfont;
    }

.menu--organise {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu--title {
    @extend %mainfont;
}

.prelude
    {
        grid-area: prelude;
        @extend %mainfont;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
    }

.orgue
    {
        grid-area: main;
        @extend %mainfont;
        display: flex;
        flex-flow: column nowrap;
    }

.prix
    {
        font-weight: bold;
        text-align: end;
        @extend %mainfont;
        padding-left: 2rem;
    }

.final
    {
        grid-area: des;
        @extend %mainfont;
        display: flex;
        flex-flow: column nowrap;
    }


.end-title
    {
        grid-area: end-title;
        text-align: center;
        font-family: 'Devonshire', cursive;
        display: flex;
        flex-direction: row;
        justify-content: center;
        i {
            padding: 0rem 3vw;
        }
    }