@import "../1_Variables/_variables.scss";
@import '../2_Mixins/_mixins.scss';
@import '../2-2_Animations/animations.scss';

/* ======================================== MEDIA QUERIES ======================================== */


/* ======================================== Ecrans de moins de 920px ======================================== */


@media (max-width: 920px) {
    .menu {
        width: 80% !important;
    }
}

/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .menu {
        width: 90% !important;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */



@media (max-width: 750px) {
    .menu {
        grid-auto-flow: column !important;
        padding: 0rem 0.4rem !important;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important; 
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}


/* ======================================== Ecrans de moins de 580px ======================================== */


@media (max-width: 600px) {
    .menu {
        width: 95% !important;
    }
    .menu--info_price {
        flex-flow: column wrap !important;
        
        p {
            text-align: center !important;
            margin-top: 0rem;
            padding: 0rem 1rem;
            line-height: 1.2rem;
        }
    }
}

/* ======================================== Ecrans de moins de 475px ======================================== */


@media (max-width: 485px) {
    .menu {
        width: 98% !important;
        grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}



/* ======================================== Ecrans de moins de 450px ======================================== */


@media (max-width: 450px) {
    body {
        margin: 0rem !important;
    }
}

   

/* ======================================== FIN DES MEDIA QUERIES ======================================== */

@import url('https://fonts.googleapis.com/css?family=Courgette|Croissant+One&display=swap');

%mainfont {
    font-family: 'Courgette', lighter;
}

h3 {
    font-weight: normal;
    font-size: 1.4rem;
    background: -webkit-linear-gradient(360deg, rgb(204, 100, 16), rgb(164, 91, 233));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

    .menu
        {
            display: grid;
            margin: auto;
            width: 70%;
            margin-bottom: 3rem;
            grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            grid-template-areas:
            '. . . . . .'
            '. h3 h3 h3 h3 .'
            '. . . . . .'
            'pr-title pr-title pr-title pr-title pr-title pr-title '
            '. prelude prelude prelude prelude .'
            '. . . . . .'
            'main-title main-title main-title main-title main-title main-title'
            '. main main main main .'
            '. . . . . .'
            'des-title des-title des-title des-title des-title des-title'
            '. des des des des .'
            '. . . . . .'
            '. end-title end-title end-title end-title .'
            '. . . . . .';
        }       

.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: $color-main;
        text-decoration: none;
    }

h2 
    {
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        grid-area: h2;
    }

article
    {
        background-color: #FFF5FE;
        box-shadow: 2px 2px 3px 4px #ccc;
    }

.entrees {
    color: #C67412;
}

.title
    {
        grid-area: h3;
        text-align: center;
        font-family: 'Croissant One', cursive;
    }

article h4
    {
        @extend %mainfont;
    }

.pr-title
    {
        text-align: center;
        @extend %mainfont;
        font-weight: bold;
        color: #C67412;
    }

.menu--info_price {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1 1 0;
    line-height: 0.8rem;
}

.prelude
    {
        color: #C67412;
        grid-area: prelude;
        @extend %mainfont;
    }    

.prix {
    font-weight: bold;
    padding-left: 1rem;
}

.main-title
    {
        @extend %mainfont;
        font-weight: bold;
        color: #A56799;
    }

.orgue
    {
        grid-area: main;
        @extend %mainfont;
        color: #A56799;
    }

.des-title
    {
        @extend %mainfont;
        font-weight: bold;
        text-align: center;
        color: #6E4CCC;
    }

.final
    {
        grid-area: des;
        @extend %mainfont;
        color: #6E4CCC;
    }

/* ================================= BRUSH STROKES ================================ */


img {
    margin: auto;
    height: 0.5vw;
    border-radius: 5px;
}

.brush-title
    {
        grid-area: pr-title;
        img
    {
        width: 27vw;
    }
    }

.pr-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}


.brush-title--2
    {
        grid-area: main-title;
        text-align: center;
        img
    {
        width: 28vw;
    }
    }

.main-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}


.brush-title--3
    {
        grid-area: des-title;
        img
    {
        width: 30vw;
    }
    }

.des-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        font-weight: bold;
        @extend %mainfont;
}
