/* ======================================== MEDIA QUERIES ======================================== */


/* ======================================== Ecrans de moins de 900px ======================================== */


@media (max-width: 900px) {
    .menu {
        width: 80% !important;
    }
}


/* ======================================== Ecrans de moins de 800px ======================================== */


@media (max-width: 800px) {
    header {
        margin: 0rem 1rem !important;
    }
}

@media (max-width: 800px) {
    footer {
        margin: 0rem 1rem !important;
    }
}


@media (max-width: 790px) {
    .menu {
        width: 90% !important;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */



@media (max-width: 750px) {
    .menu {
        font-size: 1rem !important;
        padding: 0rem 0.4rem !important;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important; 
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prix-prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main-prix .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des-prix .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}


/* ======================================== Ecrans de moins de 600px ======================================== */


@media (max-width: 600px) {
    header {
        margin: 0rem 0.3rem !important;
    }
}

@media (max-width: 600px) {
    footer {
        margin: 0rem 0.3rem !important;
    }
}


/* ======================================== Ecrans de moins de 580px ======================================== */


@media (max-width: 580px) {
    .menu {
        font-size: 0.8rem !important;
        width: 95% !important;
    }
}

@media (max-width: 580px) {
    footer p a {
        font-size: 1rem !important;
    }
}


/* ======================================== Ecrans de moins de 475px ======================================== */


@media (max-width: 475px) {
    .menu {
        font-size: 0.65rem !important;
        width: 98% !important;
        grid-template-columns: 0.2fr 5fr 4fr 4fr 1.5fr 0.2fr !important;
        grid-template-areas:
    '. . . . . .'
    'h3 h3 h3 h3 h3 h3'
    '. . . . . .'
    'pr-title pr-title pr-title pr-title pr-title pr-title'
    '. prelude prelude prelude prix-prelude .'
    '. . . . . .'
    'main-title main-title main-title main-title main-title main-title'
    '. main main main main-prix .'
    '. . . . . .'
    'des-title des-title des-title des-title des-title des-title'
    '. des des des des-prix .'
    '. . . . . .'
    'end-title end-title end-title end-title end-title end-title'
    '. . . . . .' !important;
    }
}



/* ======================================== Ecrans de moins de 450px ======================================== */


@media (max-width: 450px) {
    header {
        margin: 0rem !important;
    }
}

@media (max-width: 450px) {
    footer {
        margin: 0rem !important;
    }
}

@media (max-width: 450px) {
    body {
        margin: 0rem !important;
    }
}


/* ======================================== Ecrans de moins de 400px ======================================== */



@media (max-width: 400px) {
    footer p a {
        font-size: 0.7rem !important;
    }
}



/* ======================================== Ecrans de moins de 330px ======================================== */


@media (max-width: 330px) {
    header {
        margin: 0rem 0rem !important;
    }
}

@media (max-width: 330px) {
    footer {
        margin: 0rem 0rem !important;
    }
}


/* ======================================== FIN DES MEDIA QUERIES ======================================== */


header
    {
        background-color: #009688;
        text-align: center;
        color: #FFCA28;
        margin: 0rem 3rem;
        padding: 0.2rem 0rem;
        grid-area: header;
    }

    .menu
        {
            display: grid;
            margin: auto;
            width: 70%;
            margin-bottom: 3rem;
            grid-template-columns: 1.5fr 3.5fr 4fr 2fr 2fr 1.5fr;
            grid-template-rows: auto;
            row-gap: 5px;
            grid-template-areas:
            '. . . . . .'
            '. h3 h3 h3 h3 .'
            '. . . . . .'
            '. . pr-title . . .'
            '. prelude prelude prelude prix-prelude .'
            '. prelude prelude prelude prix-prelude .'
            '. prelude prelude prelude prix-prelude .'
            '. prelude prelude prelude prix-prelude .'
            '. . . . . .'
            '. main-title main-title main-title main-title .'
            '. main main main main-prix .'
            '. . . . . .'
            '. des-title des-title des-title des-title .'
            '. des des des des-prix .'
            '. . . . . .'
            '. end-title end-title end-title end-title .'
            '. . . . . .';
        }       

    footer
    {
        display: flex;
        height: 70%;
        flex-flow: row nowrap;
        justify-content: space-between;
        grid-area: footer;
        background-color: #009688;
        color: #FFCA28;
        position: sticky;
        position: -webkit-sticky;
        top: -10px;
        bottom: 0px;
        margin: 0rem 3rem 0rem 3rem;
    }

.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: #FFCA28;
        text-decoration: none;
    }

footer p a
    {
        color: #FFCA28;
        font-size: 1.3rem;
        text-decoration: none;
    }

h2 
    {
        color: #7E57C2;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        grid-area: h2;
    }

.trait1
    {
        display: none;
        grid-area: trait1;
        transform: scale(0.1);
    }

article
    {
        background-color: #ffe2e2;
    }

.title
    {
        grid-area: h3;
        text-align: center;
    }

article h4
    {
        text-align: center;
    }

.pr-title
    {
        grid-area: pr-title;
        text-align: center;
    }

.prelude
    {
        grid-area: prelude;
    }    

.prix-prelude
    {
        grid-area: prix-prelude;
        font-weight: bold;
        text-align: end;
    }

.main-title
    {
        grid-area: main-title;
    }

.orgue
    {
        grid-area: main;
    }

.main-prix
    {
        grid-area: main-prix;
        font-weight: bold;
        text-align: end;
    }

.des-title
    {
        grid-area: des-title;
    }

.final
    {
        grid-area: des;
    }

.des-prix
    {
        grid-area: des-prix;
        font-weight: bold;
        text-align: end;
    }

.end-title
    {
        grid-area: end-title;
        text-align: center;
    }