header
    {
        background-color: #009688;
        text-align: center;
        color: #FFCA28;
        margin: 0rem 3rem;
        padding: 0.2rem 0rem;
    }

    @media (max-width: 600px) {
        header {
            margin: 0rem 1rem;
        }
    }

    @media (max-width: 450px) {
        header {
            margin: 0rem 0.5rem;
        }
    }

    @media (max-width: 330px) {
        header {
            margin: 0rem 0rem;
        }
    }

    footer
    {
        display: flex;
        height: 70%;
        flex-flow: row nowrap;
        justify-content: space-between;
        grid-area: footer;
        background-color: #009688;
        color: #FFCA28;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0px;
        margin: 0rem 3rem 0rem 3rem;
    }

    @media (max-width: 600px) {
        footer {
            margin: 0rem 1rem;
        }
    }

    @media (max-width: 450px) {
        footer {
            margin: 0rem 0.5rem;
        }
    }

    @media (max-width: 330px) {
        footer {
            margin: 0rem 0rem;
        }
    }


.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: #FFCA28;
        text-decoration: none;
    }

footer a
    {
        color: #FFCA28;
        font-size: 1.3rem;
        text-decoration: none;
    }

h2 
    {
        color: #7E57C2;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
    }

article
    {
        background-color: #ffe2e2;
        width: 70%;
    }

article h3
    {
        text-align: center;
    }

article h4
    {
        text-align: center;
    }

.prelude1
    {
        display: flex;
        flex-direction: row;
    }

.prix
    {
        font-weight: bold;
    }