header
    {
        background-color: #009688;
        text-align: center;
        color: #FFCA28;
    }

footer
    {
        display: flex;
        height: 70%;
        flex-flow: row nowrap;
        justify-content: space-between;
        grid-area: footer;
        background-color: #009688;
        color: #FFCA28;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0px;
    }

.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: #FFCA28;
        text-decoration: none;
    }

footer a
    {
        color: #FFCA28;
        font-size: 1.3rem;
        text-decoration: none;
    }

h2 
    {
        color: #7E57C2;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
    }

article
    {
        background-color: #ffe2e2;
        width: 70%;
    }

article h3
    {
        text-align: center;
    }

article h4
    {
        text-align: center;
    }

.prelude1
    {
        display: flex;
        flex-direction: row;
    }

.prix
    {
        font-weight: bold;
    }