header
    {
        background-color: #009688;
        text-align: center;
        color: #FFCA28;
    }

footer
    {
        display: flex;
        height: 70%;
        flex-flow: row nowrap;
        justify-content: space-around;
        grid-area: footer;
        background-color: #009688;
        color: #FFCA28;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0px;
    }

h2 
    {
        color: #7E57C2;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
    }

.info
    {
        margin: 2rem 12em 2rem 12rem;
        text-align: justify;
    }

    @media (max-width: 800px) {
        .info {
            margin: 2rem 9rem 2rem 9rem;
        }
    }

    @media (max-width: 600px) {
        .info {
            margin: 2rem 5rem 2rem 5rem;
        }
    }

    @media (max-width: 450px) {
        .info {
            margin: 2rem 2rem 2rem 2rem;
        }
    }

    @media (max-width: 300px) {
        .info {
            margin: 2rem 0.5rem 2rem 0.5rem;
        }
    }

.charte
    {
        margin: 2rem 12em 2rem 12rem;
        text-align: justify;
    }

    @media (max-width: 800px) {
        .charte {
            margin: 2rem 9rem 2rem 9rem;
        }
    }

    @media (max-width: 600px) {
        .charte{
            margin: 2rem 5rem 2rem 5rem;
        }
    }

    @media (max-width: 450px) {
        .charte{
            margin: 2rem 2rem 2rem 2rem;
        }
    }

    @media (max-width: 300px) {
        .charte{
            margin: 2rem 0.5rem 2rem 0.5rem;
        }
    }

.charte h2
    {
        margin-top: 5rem;
    }

.ok p
    {
        margin: 2rem 12em 2rem 12rem;
        text-align: justify;
        font-size: 1.3rem;
        font-weight: bold;
    }

    @media (max-width: 800px) {
       .ok p {
            margin: 2rem 9rem 2rem 9rem;
        }
    }

    @media (max-width: 600px) {
        .ok p {
            margin: 2rem 5rem 2rem 5rem;
        }
    }

    @media (max-width: 450px) {
        .ok p {
            margin: 2rem 2rem 2rem 2rem;
        }
    }

    @media (max-width: 300px) {
        .ok p {
            margin: 2rem 0.5rem 2rem 0.5rem;
        }
    }